.page{
    height: 300px;
    width: 100%;
    position: absolute;
    top:50%;
    margin-top: -150px;
}

.logo {
    height: 200px;
    weight: 170;
}

.login-form{
    height: 400px;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .logo {
        
    }
}
